.editModal {
    position: absolute;
    padding: 5%;
    left: 25%;
    top: 25%;
    /* bottom: 40px; */
    background-color: whitesmoke;
    width: 60%;
}

.editModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(39,39,39,1) !important;
}

.addTask {
    margin: 3% 0%;
    padding-left: 5%;
}

@media only screen and (max-device-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (Phone) */
    .editModal {
        position: absolute;
        padding: 2%;
        left: 10%;
        top: 25%;
        /* bottom: 40px; */
        background-color: white;
        width: 80%;
    }

    .addTask {
        margin: 3% 0%;
        padding-left: 0%;
    }
}